body{
	font-family: 'Oswald', sans-serif;
}
.item{
	text-align: center;
	padding: 0 15px;
}
.item img{
	width: 100%;
	max-width: 245px;
	height: auto;
	margin: 0 auto;
    display: block;
}
.item span{
	font-size: 18px;
	font-weight: 700;
	display: inline-block;
	margin: 25px 0;
}
.item p{
	font-size: 14px;
	font-family: 'Roboto', sans-serif;

}
.useful-wrapper{
	color: #134390;
	position: relative;
}
.useful-wrapper h1{
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	margin-bottom: 40px;
}

.useful-wrapper .main-row{
	min-height: 100vh;
}
.side-bar-wrapper{
	padding-left: 0;
}
.side-bar{
	min-height: 100vh;
	height: 100%;
	color: #ffffff;
	background: #081e40;
	font-family: 'Roboto', sans-serif;
	max-width: 350px;
	align-self: flex-start;
}

.side-bar .top{
	background: #0b2856;
	padding: 10px;
}

.side-bar .bottom{
	padding: 0 25px;
}

.side-bar img{
	width: 100%;
}

.side-bar nav ul{
	margin: 0;
	padding: 100px 0 0 15px;
	list-style: none;
}

.side-bar nav ul li{
	margin-bottom: 15px;
}

.side-bar nav ul li a{
	color: #ffffff;
}

.side-bar nav ul li a:hover{
	text-decoration: none;
}

.side-bar-form form{
	margin-top: 50px;
}

.side-bar-form form input,
.side-bar-form form textarea{
	resize: none;
	width: 100%;
	box-sizing: border-box;
	border: none;
	border-bottom: 1px solid rgba(255,255,255, 0.5);
	background: none;
	color: #ffffff;
	margin-bottom: 20px;
}

.side-bar-form form textarea{
	height: 80px;
}

.side-bar-form form input:focus,
.side-bar-form form textarea:focus{
	outline: none;
}

.side-bar-form form input::placeholder,
.side-bar-form form textarea::placeholder{
	color: rgba(255,255,255, 0.5);
	font-size: 14px;
}

.side-bar-form form input[type="submit"]{
	border: 1px solid #ffffff;
	border-radius: 20px;
	padding: 5px;
}

@media screen and (max-width: 767px) {
	.side-bar{
		max-width: 100%;
	}
	.side-bar-wrapper{
		padding-right: 0;
	}
	.side-bar .top,
	.side-bar .bottom{

	}
}

@media screen and (max-width: 575px){
	.side-bar{
		min-height: auto;
	}
	.side-bar nav ul{
		padding-top: 40px;
	}
	.side-bar-form form{
		margin-top: 20px;
	}
}


/*second task styles*/

.video-section{
	display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.video-wrapper{
	position: relative;
}

.video-wrapper video{
	width: auto;
	height: 100%;
}

.video-wrapper .pop-up{
	position: absolute;
    top: 0;
    width: 100%;
    max-width: 450px;
    left: -100%;
    background: rgba(255,255,255,0.6);
    height: 100%;
    z-index: 1000;
}

.pop-up-inner{
	padding: 0 35px;
}

.pop-up-inner img{
	max-width: 85px;
	height: auto;
	margin: 60px auto;
	display: block;
}

.pop-up-inner .close{
	position: absolute;
	top: 10px;
    left: 30px;
}

.gift{
	position: absolute;
    top: 6%;
    left: 45%;
    display: none;
    z-index: 1000;
}

.gift img{
	width: 85px;
	height: auto;
}

.white-block{
	height: 390px;
    background: #ffffff;
}